{% extends 'base.html' %} {% load static %} {% block content %}

<div class="d-flex flex-warp col-12">
  <div class="col-6">
    <h1>Our blog page</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint,
      ducimus nam magni saepe earum numquam deleniti quod, aperiam sunt ex
      dolore unde quia voluptatum! Quis in et sed? Voluptatum.
    </p>
  </div>
  <div class="col-6">
    <img src="{% static 'car_banner.jpg' %}" class="img-fluid" />
  </div>
</div>

{% endblock %}
